
<div class="container">
	<h1>Welcome to: {{title}}</h1>
</div>

<div class="container">
<a href="products" class="btn btn-primary"> Show all products </a>

<a href="products/new" class="btn btn-primary"> Add new product </a>
</div>