
    <div class="container">
    	<h2> Product ID: {{product._id}} </h2>
    </div>

    <div class="container">
	    <p> Name: {{product.name}} </p>
	    <p> Size: {{product.size}}</p>
	    <p> Color: {{product.color}}</p>
    </div>
